*{
    margin: 0;
    background: var(--background);
}

html{
    font-family: Arial, Helvetica, sans-serif;
}



:root {
    --mildwhite: #C0D2D5;
    --background: #D8E6E8;
    --greenOne: #338C52;
}

@media only screen and (max-width: 600px){

    .headingDefault{
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 25px;
    }
    
    .headingDefault span{
        color: var(--greenOne);
    }
    
    .paragraphDefault{
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 25px;
        background: var(--background);
        width: 88vw;
    }
    
    header > button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0;
        background: 0;
        padding: 15px 0px;
        border-radius: 90rem;
        cursor: pointer;
    }
    
    header > button > h5{
        display: none;
    
    
    
    }
    
    header > button > img{
        margin-right: 4px;
        max-width: 5vw;
        background: 0;
    }
    
    
    
    
    .rootImage{
        max-width: 9vw;
        height: auto;
        background: 0;
    }


    #navDropdown{
        display: none;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #navDropdown > a{
        text-decoration: none;
    }
    
    .navLinks{
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--mildwhite);
        padding: 17px 45px;
        margin: 17px 0;
        border-radius: 90rem;
        min-width: 220px;
        cursor: pointer;
    }
    
    .navLinks > img{
        max-width: 5vw;
        background: 0;
        margin-right: 15px;
    }
    
    .navLinks > h4{
        background: 0;
        color: var(--greenOne);
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
    }


    #hero{
        padding: 0 25px;
    }
    
    #hero > h1{
        font-size: 45px;
        text-align: center;
        width: 100%;
    }
    
    #hero > p{
        font-size: 16px;
        text-align: center;
        width: 100%;
    }
    
    #hero > button{
        margin-top: 45px;
        padding: 3vw 6vw;
        border: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
    }

    #homeAbout{
        display: flex;
        flex-direction: column;
        padding: 80px 25px;
    }
    
    .hbTop{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .hbTop > img{
        max-width: 100%;
    }
    
    .hbToptext > p{
        padding-right: 0px;
        padding-bottom: 40px;
    }
    
    .whatWeDo{
        flex-wrap: wrap;
        margin-top: 20px;
    }
    
    .whatWeDo > h3{
        width: 90px;
        margin-top: 18px;
        font-size: 12px;
    }

    #expertise{
        padding: 45px 25px;
    }


    #expertise >  p{
        width: 100%;
    }

    .expCon{
        margin-top: 35px;
    }

    .expContent > button{
        padding: 2.7vw 5.6vw;
    }

    #mission{
        padding: 40px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #mission > img{
        max-width: 100%;
    }
    
    #mission > div > p{
        padding-right: 0px;
        margin-bottom: 25px;
    }

    #deliver{
        padding: 50px 25px;
    }
    
    
    .deliverCon{
        display: flex;
        flex-direction: column;
    }
    
    
    .delivercontent{
        margin-bottom: 35px;
    }




    .fTop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 25px;
    }

    .footerLeft > img{
        max-width: 70px;
        margin-bottom: 25px;
    }

    .footerLeft > h3{
        font-size: 15px;
    }

    .footerLeft > p{
        font-style: normal;
        font-weight: 300;
        font-size: 9px;
        margin-bottom: 18px;
    }

    .footerRight{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footerRight > h4{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
    }



    .footerRight > ul li{
        color: var(--greenOne);
        margin-top: 20px;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        text-align: left;
    }

    .lower{
        background: var(--exp);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 25px;
    }

    .lower > h5{
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
    }

    .lower > a{
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        text-decoration: none;
        color: var(--background);
        background: var(--lower);
        padding: 7px 20px;
        border-radius: 900rem;
    }
}